/*
Website by Abhilash Rejanair

    ___    __    __    _ __           __       ____         _                   _     
   /   |  / /_  / /_  (_) /___ ______/ /_     / __ \___    (_)___ _____  ____ _(_)____
  / /| | / __ \/ __ \/ / / __ `/ ___/ __ \   / /_/ / _ \  / / __ `/ __ \/ __ `/ / ___/
 / ___ |/ /_/ / / / / / / /_/ (__  ) / / /  / _, _/  __/ / / /_/ / / / / /_/ / / /    
/_/  |_/_.___/_/ /_/_/_/\__,_/____/_/ /_/  /_/ |_|\___/_/ /\__,_/_/ /_/\__,_/_/_/     
                                                     /___/                            

*/

#header {
	padding:2em;
	text-align: center;
	z-index: 9;
	position: absolute;
	left:0;
	right:0;
}
#headerbackground {
	margin-top:-1em;
	/*filter: blur(1px);
  	-webkit-filter: blur(1px);
	*/padding:2em;
	height:500px;
	z-index: 1;
	display: block;
	left:0;
	position: absolute;
	right:0;
	background: url("../img/back4.jpg");
	background-position: center center;
	/*background-size:cover;
	*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*transition:all 7s;
	*/opacity: 1;
}

#header p{
	font-size: 18px;
	margin-bottom: 5em;
	color: #FFF;
	background-color: #13B1D5;
	width: 43em;
	margin: 0 auto 5em;
}

#header h1 {
	margin: 1.5em auto;
	color: #FFF;
	background-color: #13B1D5;
	width: 12em;
}

#content {
	margin-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

#fleet img {
	height:100px;
}

#footer {
	margin-top: 2em;
	border-top: 1px solid #eee;
	padding-top: 2em;
	color:#777;
}

#content .medium-10.columns p{
	text-align: center;
	vertical-align: middle;
}

#content.fleet > .row {
	padding:2em;
	border:1px solid #ccc;
	border-bottom-color: #fff;
	transition:background-color 1s;
}

#content.fleet > .row:hover {
	background-color: #ccc;
}

#callus li {
	color:#ffffff;
	margin: 0.5em auto;
	font-weight: bold;
	width: 250px;
	position: absolute;
	top:50%;
	right:43.5%;
}

#contact {
	position: fixed;
	width:400px;
	height:400px;
	bottom:0;
	right:0;
	background-color: #eee;
	color:#333;
	z-index: 9999;
	border:1px solid #ccc;
}
#contact a {
	display: block;
}
::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

:-ms-input-placeholder {  
   color: #333;  
}
#contactform input {
	color:#333;
}

@media screen and (max-width: 768px) {
	#contact {
		visibility: hidden;
	}
} 