/*
Website by Abhilash Rejanair

    ___    __    __    _ __           __       ____         _                   _     
   /   |  / /_  / /_  (_) /___ ______/ /_     / __ \___    (_)___ _____  ____ _(_)____
  / /| | / __ \/ __ \/ / / __ `/ ___/ __ \   / /_/ / _ \  / / __ `/ __ \/ __ `/ / ___/
 / ___ |/ /_/ / / / / / / /_/ (__  ) / / /  / _, _/  __/ / / /_/ / / / / /_/ / / /    
/_/  |_/_.___/_/ /_/_/_/\__,_/____/_/ /_/  /_/ |_|\___/_/ /\__,_/_/ /_/\__,_/_/_/     
                                                     /___/                            

*/

#header {
	margin-top:2em;
	padding:2em;
	background-color: #eee;
	border-radius: 1em;
	text-align: center;
}

#header p{
	font-size: 18px;
	margin-bottom: 5em;
}

#header h1 {
	margin:1.5em 0;
}

#content {
	margin-top: 5em;
	padding-left: 1em;
	padding-right: 1em;
}

#fleet img {
	height:100px;
}

#footer {
	margin-top: 2em;
	border-top: 1px solid #eee;
	padding-top: 2em;
	color:#777;
}

#content .medium-10.columns p{
	text-align: center;
	vertical-align: middle;
}

#content.fleet > .row {
	padding:2em;
	border:1px solid #ccc;
	border-bottom-color: #fff;
	transition:background-color 1s;
}

#content.fleet > .row:hover {
	background-color: #ccc;
}

.top-bar-section .left {
	color:#ffffff;
	margin-top: 0.5em;
	font-weight: bold;
	width: 200px;
}